<p-card header="Car Damage">
  <div class="grid">
    <div class="col-4" style="text-align: center">
      <h5>Front Left</h5>
      <p-knob [(ngModel)]="damageService.damage.FrontLeftWingDamage" valueColor="Red" rangeColor="#010f22" textColor="white" [size]="damageService.size"
              [readonly]="true" valueTemplate="{value}%"></p-knob>
    </div>
    <div class="col-4" style="text-align: center">
      <h5>Front Right</h5>
      <p-knob [(ngModel)]="damageService.damage.FrontRightWingDamage" valueColor="Red" rangeColor="#010f22" textColor="white" [size]="damageService.size"
              [readonly]="true" valueTemplate="{value}%"></p-knob>
    </div>
    <div class="col-4" style="text-align: center">
      <h5>Sidepod</h5>
      <p-knob [(ngModel)]="damageService.damage.SidepodDamage" valueColor="Red" rangeColor="#010f22" textColor="white" [size]="damageService.size"
              [readonly]="true" valueTemplate="{value}%"></p-knob>
    </div>
    <div class="col-4" style="text-align: center">
      <h5>Floor</h5>
      <p-knob [(ngModel)]="damageService.damage.FloorDamage" valueColor="Red" rangeColor="#010f22" textColor="white" [size]="damageService.size"
              [readonly]="true" valueTemplate="{value}%"></p-knob>
    </div>
    <div class="col-4" style="text-align: center">
      <h5>Diffuser</h5>
      <p-knob [(ngModel)]="damageService.damage.DiffuserDamage" valueColor="Red" rangeColor="#010f22" textColor="white" [size]="damageService.size"
              [readonly]="true" valueTemplate="{value}%"></p-knob>
    </div>
    <div class="col-4" style="text-align: center">
      <h5>Rear Wing</h5>
      <p-knob [(ngModel)]="damageService.damage.RearWingDamage" valueColor="Red" rangeColor="#010f22" textColor="white" [size]="damageService.size"
              [readonly]="true" valueTemplate="{value}%"></p-knob>
    </div>
  </div>
</p-card>

