<p-card header="Session Info">
  <p-tag styleClass="mr-2" [value]="sessionInfoService.sessionInfo.SessionTrack | track" [rounded]="false"></p-tag>
  <p-tag styleClass="mr-2" [value]="sessionInfoService.sessionInfo.SessionType | sessionType" [rounded]="false"></p-tag>

  <div *ngIf="(sessionInfoService.sessionInfo.SessionType | sessionIsRace) === false" style="margin-top: 1vh">
    <div class="grid">
      <div class="col-2">
        <p-tag styleClass="mr-2" [rounded]="false">
          {{sessionInfoService.sessionInfo.SessionTimeLeft * 1000 | time}}
        </p-tag>
      </div>
      <div class="col-10" style="font-size: 30pt">
        <p-progressBar [value]="sessionInfoService.sessionProgress" [showValue]="false"></p-progressBar>
      </div>
    </div>
  </div>
  <div *ngIf="(sessionInfoService.sessionInfo.SessionType | sessionIsRace) === true" style="margin-top: 1vh">
    <div class="grid">
      <div class="col-12">
        <p-tag styleClass="mr-2" [rounded]="false">
          {{sessionInfoService.sessionInfo.SessionTime - sessionInfoService.sessionInfo.SessionTimeLeft * 1000 | time}}
        </p-tag>
      </div>
    </div>
  </div>
  <div style="margin-top: 2vh">
    <p-fieldset legend="Temperatures" [toggleable]="true">
      Air Temperature: {{sessionInfoService.sessionInfo.AirTemperature}} °C
      <br>
      Track Temperature: {{sessionInfoService.sessionInfo.TrackTemperature}} °C
    </p-fieldset>
  </div>
</p-card>
