
.humanColor {
  color: rgba(255, 255, 255, 0.3);
}

.playerColor {
  background-color: #010f22 !important;
}

.green {
  color: #2cb900;
}

.purple {
  background-color: #af18e6;
  font-weight: bold;
}

.red {
  color: #da0606;
}

.yellow {
  color: #d1b40c;
}

tr > th {
  padding: 0.5em;
}

tr > td {
  padding: 0.3rem
}

tr:nth-child(2n){
  background-color: #1f2d40;
}
tr:not(:nth-child(2n+1)){
  background-color: #334154;
}

.center{
  text-align: center !important;
}

.driver-badge{
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.driver-badge.status-InGarage{
  background: darkred;
}
.driver-badge.status-FlyingLap{
  background: #2cb900;
}
.driver-badge.status-InLap{
  background: orange;
}
.driver-badge.status-OutLap{
  background: orange;
}
.driver-badge.status-OnTrack{
  background: darkgreen;
}
.driver-badge.status-Finished{
  background: white;
  color: black;
}
.driver-badge.status-Retired{
  background: black;
}
.driver-badge.status-DNF{
  background: gray;
}
.driver-badge.status-DSQ{
  background: black;
}
.driver-badge.status-InPit{
  background: darkred;
}


