<div>
  <p-table [value]="this.tableService.tableRowModels" [columns]="this.tableService.currentColumns" >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let columnHeader of columns">{{columnHeader.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-driver>
      <tr [ngClass]="this.configurationService.HighlightPlayerEnabled ? {playerColor:  driver.PlayerIndex === this.tableService.playerIndex} : {playerColor: false}">
        <td *ngIf="configurationService.Settings.TableSettings.Columns[0].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(0)"
            [ngStyle]="{'background-color': 'rgb(' + driver.TeamColor + ')'}"></td>

        <td>{{driver.Position}}</td>

        <td [ngClass]="{humanColor: driver.IsAI === true}">{{driver.DriverName}}</td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[3].enabled &&
              tableService.columnVisibleBasedOnColumnSessionType(3)"
            [ngClass]="{purple: driver.PlayerIndex === this.tableService.bestLapTimePlayerIndex}">
          {{driver.BestLapTime | lapTime}}
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[4].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(4)">
          {{driver.DeltaToBestLapTime | deltaTime}}
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[5].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(5)">
          {{driver.DeltaToBestLapTimeOfDriverInFront | deltaTime}}
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[6].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(6)"
            [ngClass]="{green: driver.BestLapTime == driver.LastLapTime, yellow: driver.BestLapTime != driver.LastLapTime }">
          {{driver.LastLapTime | lapTime}}
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[7].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(7)">
          {{driver.DeltaLastLapToDriverInFront | deltaTime}}
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[8].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(8)">
          <ng-container *ngIf="driver.LappedInterval === false">{{driver.GapInterval | deltaTime}}</ng-container>
          <ng-container *ngIf="driver.LappedInterval === true">Lapped</ng-container>
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[9].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(9)">
          <ng-container *ngIf="driver.LappedLeader == false">{{driver.GapLeader | deltaTime}}</ng-container>
          <ng-container *ngIf="driver.LappedLeader == true">Lapped</ng-container>
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[10].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(10)" class="center">
          <span [class]="'driver-badge status-' + (driver.Status | driverStatus)">{{driver.Status | driverStatus}}</span>
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[11].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(11)" class="center">
          {{driver.PitCount}}
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[12].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(12)"
            [ngClass]="{purple: driver.PlayerIndex === this.tableService.bestSector1PlayerIndex}">
          {{driver.BestSector1Time | lapTime : "Seconds"}}
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[13].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(13)"
            [ngClass]="{purple: driver.PlayerIndex === this.tableService.bestSector2PlayerIndex}">
          {{driver.BestSector2Time | lapTime : "Seconds"}}
        </td>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[14].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(14)"
            [ngClass]="{purple: driver.PlayerIndex === this.tableService.bestSector3PlayerIndex}">
          {{driver.BestSector3Time | lapTime : "Seconds"}}
        </td>

      <ng-container *ngIf="configurationService.Settings.TableSettings.Columns[15].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(15)">
        <td *ngIf="driver.LastSector1Time > 0" [ngClass]="{green: driver.BestSector1Time === driver.LastSector1Time, yellow: driver.BestSector1Time != driver.LastSector1Time}">
          {{driver.LastSector1Time | lapTime : "Seconds"}}
        </td>
        <td *ngIf="driver.LastSector1Time === 0"></td>
      </ng-container>

      <ng-container *ngIf="configurationService.Settings.TableSettings.Columns[16].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(16)">
        <td *ngIf="driver.LastSector2Time > 0" [ngClass]="{green: driver.BestSector2Time === driver.LastSector2Time, yellow: driver.BestSector2Time != driver.LastSector2Time}">
          {{driver.LastSector2Time | lapTime : "Seconds"}}
        </td>
        <td *ngIf="driver.LastSector2Time === 0"></td>
      </ng-container>

      <ng-container *ngIf="configurationService.Settings.TableSettings.Columns[17].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(17)">
        <td *ngIf="driver.LastSector3Time > 0" [ngClass]="{green: driver.BestSector3Time === driver.LastSector3Time, yellow: driver.BestSector3Time != driver.LastSector3Time}">
          {{driver.LastSector3Time | lapTime : "Seconds"}}
        </td>
        <td *ngIf="driver.LastSector3Time === 0"></td>
      </ng-container>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[18].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(18)">
          {{driver.TyreCompound | tyreEmoji}} ({{driver.TyreAge}})
        </td>

        <ng-container *ngIf="configurationService.Settings.TableSettings.Columns[19].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(19)">
          <td *ngIf="driver.PositionChange > 0" class="green"><i class="pi pi-angle-up"></i> {{driver.PositionChange}}</td>
          <td *ngIf="driver.PositionChange < 0" class="red"><i class="pi pi-angle-down"></i> {{driver.PositionChange * (-1)}}</td>
          <td *ngIf="driver.PositionChange === 0"></td>
        </ng-container>

        <td *ngIf="configurationService.Settings.TableSettings.Columns[20].enabled &&
            tableService.columnVisibleBasedOnColumnSessionType(20)">
          <ng-container *ngIf="driver.PenaltiesCombined > 0">
            <p-image width="20px" src="../../../assets/images/flag-black-white.png" alt="Flag"></p-image>
            +{{driver.PenaltiesCombined}}s
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

