<p-card header="Session Log">
  <p-scrollPanel [style]="{width: '100%', height: '50vh'}">
    <p-timeline [value]="sessionLogService.getData()">
      <ng-template pTemplate="opposite" let-event>
        {{ event.title }}
      </ng-template>
      <ng-template pTemplate="content" let-event>
        {{ event.details }}
      </ng-template>
    </p-timeline>
  </p-scrollPanel>
</p-card>

