<app-blockable-div #ui>
  <p-contextMenu [global]="true" [model]="globalContextMenuItems"></p-contextMenu>

  <div class="grid">
    <!-- Menu button for mobile devices -->
    <div class="xl:hidden col-4">
      <button pButton type="button" class="p-button-raised" (click)="sidebarVisible = true" label="Menu" iconPos="left"  icon="pi pi-bars"></button>
    </div>
    <div class="xl:hidden col-8">
      <p-toggleButton (click)="toggleWakeLock()" onLabel="Keep Screen On" offLabel="Keep Screen On" onIcon="pi pi-fw pi-eye" offIcon="pi pi-fw pi-eye-slash" [(ngModel)]="wakeLockEnabled"></p-toggleButton>
    </div>

    <div class="col-12" *ngIf="configurationService.ModuleTableEnabled">
      <app-table></app-table>
    </div>
    <div class="col-12" *ngIf="configurationService.ModuleLapPositionEnabled">
      <app-lap-position></app-lap-position>
    </div>
    <div class="col-12 md:col-4 xl:col-2" *ngIf="configurationService.ModuleSessionInfoEnabled">
      <app-session-info style="margin-bottom: 4vh"></app-session-info>
    </div>
    <div class="col-12 md:col-8 xl:col-4" *ngIf="configurationService.ModuleLapTimeEnabled">
      <app-lap-time></app-lap-time>
    </div>
    <div class="col-12 md:col-5 xl:col-3" *ngIf="configurationService.ModuleCarDamageEnabled">
      <app-car-damage></app-car-damage>
    </div>
    <div class="col-12 md:col-5 xl:col-3" *ngIf="configurationService.ModuleWeatherEnabled">
      <app-weather></app-weather>
    </div>
    <div class="col-12 md:col-6 xl:col-4" *ngIf="configurationService.ModuleSessionLogEnabled">
      <app-session-log></app-session-log>
    </div>
  </div>

  <p-sidebar [(visible)]="sidebarVisible">
      <p-card header="Laguto Web" [style]="{'text-align': 'center', 'background-color': '#263446'}">
        <a href="https://laguto.de" target="_blank"><button pButton type="button" class="p-button-raised">About</button></a>
      </p-card>
    <br>
    <p-card header="Hide Modules" [style]="{'text-align': 'center', 'background-color': '#263446'}">
      <div class="grid">
        <div class="col-12 center">
          <p-toggleButton onLabel="Table" offLabel="Table" onIcon="pi pi-fw pi-eye" offIcon="pi pi-fw pi-eye-slash" [(ngModel)]="configurationService.ModuleTableEnabled"></p-toggleButton>
        </div>
        <div class="col-12 center">
          <p-toggleButton onLabel="Lap Position" offLabel="Lap Position" onIcon="pi pi-fw pi-eye" offIcon="pi pi-fw pi-eye-slash" [(ngModel)]="configurationService.ModuleLapPositionEnabled"></p-toggleButton>
        </div>
        <div class="col-12 center">
          <p-toggleButton onLabel="Session Info" offLabel="Session Info" onIcon="pi pi-fw pi-eye" offIcon="pi pi-fw pi-eye-slash" [(ngModel)]="configurationService.ModuleSessionInfoEnabled"></p-toggleButton>
        </div>
        <div class="col-12 center">
          <p-toggleButton onLabel="Lap Times" offLabel="Lap Times" onIcon="pi pi-fw pi-eye" offIcon="pi pi-fw pi-eye-slash" [(ngModel)]="configurationService.ModuleLapTimeEnabled"></p-toggleButton>
        </div>
        <div class="col-12 center">
          <p-toggleButton onLabel="Car Damage" offLabel="Car Damage" onIcon="pi pi-fw pi-eye" offIcon="pi pi-fw pi-eye-slash" [(ngModel)]="configurationService.ModuleCarDamageEnabled"></p-toggleButton>
        </div>
        <div class="col-12 center">
          <p-toggleButton onLabel="Weather" offLabel="Weather" onIcon="pi pi-fw pi-eye" offIcon="pi pi-fw pi-eye-slash" [(ngModel)]="configurationService.ModuleWeatherEnabled"></p-toggleButton>
        </div>
        <div class="col-12 center">
          <p-toggleButton onLabel="Session Log" offLabel="Session Log" onIcon="pi pi-fw pi-eye" offIcon="pi pi-fw pi-eye-slash" [(ngModel)]="configurationService.ModuleSessionLogEnabled"></p-toggleButton>
        </div>
      </div>
    </p-card>
    <br>
    <p-card header="Table" [style]="{'text-align': 'center', 'background-color': '#263446'}">
      <div class="grid">
        <div class="col-12" >
          <p-tag styleClass="mr-2" value="Highlight Player" [rounded]="false"></p-tag>
        </div>
        <div class="col-12">
          <p-selectButton [options]="binaryOptions" [(ngModel)]="configurationService.HighlightPlayerEnabled" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
        <div class="col-12" style="margin-top: 3vh">
          <p-tag styleClass="mr-2" value="Table Columns" [rounded]="false"></p-tag>
        </div>
        <div class="col-12">
          <p-multiSelect [options]="this.configurationService.Settings.TableSettings.Columns"
                         [(ngModel)]="this.configurationService.selectedTableColumnsIds"
                         optionLabel="label"
                         defaultLabel="Select Columns"
                         [displaySelectedLabel]="false"
                         optionDisabled="isChangeable"
                         optionValue="id"
                         [filter]="false"
                         (onChange)="configurationService.updateSelectedTableColumns()"
          >
          </p-multiSelect>
        </div>
        <div class="col-6" style="margin-top: 3vh">
          <p-tag styleClass="mr-2" value="Compact Mode" [rounded]="false"></p-tag>
        </div>
        <div class="col-6" style="margin-top: 3vh">
          <p-tag *ngIf="configurationService.CompactTableSettingsEnabled"  styleClass="mr-2" value="Number of Cars" [rounded]="false"></p-tag>
        </div>
        <div class="col-6">
          <p-selectButton [options]="binaryOptions" [(ngModel)]="configurationService.CompactTableSettingsEnabled" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
        <div class="col-6">
          <div *ngIf="configurationService.CompactTableSettingsEnabled" style="width: 5px !important;">
          <p-inputNumber [(ngModel)]="configurationService.CompactTableNumberCars" mode="decimal" [showButtons]="true" buttonLayout="horizontal" [min]="1" [max]="22"
                         decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
          </div>
        </div>
      </div>
    </p-card>
    <br>

    <p-card header="Advanced" [style]="{'text-align': 'center', 'background-color': '#263446'}">
      <div class="grid">
        <div class="col-6 center">
          <p-tag styleClass="mr-2" value="Ask for export" [rounded]="false"></p-tag>
        </div>
        <div class="col-6">
          <p-selectButton [options]="binaryOptions" [(ngModel)]="configurationService.AskForResultExportEnabled" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
      </div>
    </p-card>
  </p-sidebar>

  <app-result></app-result>
</app-blockable-div>

<p-blockUI [blocked]="!connectionService.isConnected() || connectionService.newVersionAvailable" [target]="ui"></p-blockUI>

<!--
Welcome Dialog
-->
<p-dialog header="Welcome to Laguto Web!" [(visible)]="showDirectConnectDialog" [closable]="false" class="dialog">
  <p>You need to run Laguto on your computer. Please close this window.
  </p>
  <br>
  <div style="margin-bottom: 2vh">
    <h3>New to Laguto?</h3>
    <p>Laguto is your personal race engineer for F1® Games</p>
    <br>
    <div style="text-align: center;">
      <a href="https://laguto.de"><button pButton type="button" icon="pi pi-info-circle" label="Learn more about Laguto" class="p-button-info"></button></a>
      <br>
      <br>
      <a href="https://codeberg.org/laguto/Laguto-Interface/releases/latest"><button pButton type="button" icon="pi pi-download" label="Download Laguto"></button></a>
    </div>
  </div>
</p-dialog>

<!--
Dialog: New Version Available
-->
<p-dialog header="New Version Available!" [(visible)]="connectionService.newVersionAvailable" [closable]="true" class="dialog">
  <p>A new version for Laguto Interface is available.</p>
  <p>It is highly recommended to keep Laguto up to date!</p>
  <br>
  <ng-template pTemplate="footer">
    <a href="https://codeberg.org/laguto/Laguto-Interface/releases/latest" target="_blank"><button pButton type="button" icon="pi pi-download" label="Download Latest Version"></button></a>
    <button pButton type="button" class="p-button-info" label="Close" (click)="connectionService.newVersionAvailable = false"></button>
  </ng-template>
</p-dialog>


<ng-container *ngIf="!showDirectConnectDialog">
  <!--
  Select Host Dialog
  -->
  <p-dialog header="Welcome to Laguto!" [visible]="!connectionService.isConnected() && !connectionService.testingConnection" [closable]="false">
    <p-tag *ngIf="connectionService.connectionFailed" icon="pi pi-exclamation-triangle" severity="danger" value="Connection failed"></p-tag>
    Laguto is running! You can now continue to connect your devices.
    <br>
    <section style="margin-top: 4vh; margin-bottom: 4vh">
      <h3>Connect this device?</h3>
      If you want to connect this device, proceed with the connect button.
    </section>
    <section style="margin-top: 4vh; margin-bottom: 4vh">
      <h3>Connect a different device?</h3>
      If you want to connect from another device, please enter the given URL into the browser of that device.
      <br><br>
      <p-tag>{{ toolUrl }}</p-tag>
    </section>
    <ng-template pTemplate="footer">
      <button pButton type="button" (click)="connect()" iconPos="right" label="Connect" icon="pi pi-angle-right"></button>
    </ng-template>
  </p-dialog>
</ng-container>

<!--
Connecting dialog
-->
<p-dialog [visible]="connectionService.testingConnection" class="dialog" [closable]="false">
  <h2>Connecting to Laguto</h2>
  <br>
  Trying to connect to:
  <p-tag>{{toolUrl}}</p-tag>
  <section class="dialog-center" style="margin-top: 4vh; margin-bottom: 4vh">
    <p-progressSpinner strokeWidth="4" animationDuration="2s" styleClass="custom-spinner"></p-progressSpinner>
  </section>
</p-dialog>

<p-toast [breakpoints]="{'920px': {width: '100%'}}" position="top-center"></p-toast>

<p-toast key="session-log" [breakpoints]="{'920px': {width: '100%'}}" position="bottom-center"></p-toast>


