.center {
  width:fit-content;
  margin: auto;
}

.dialog-center {
  text-align: center;
}

.dialog {
  min-width: 30vw;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 2s ease-in-out infinite, custom-progress-spinner-color 4s ease-in-out infinite;
}


@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #16697A;
  }
  40% {
    stroke: #489FB5;
  }
  66% {
    stroke: #82C0CC;
  }
  80%,
  90% {
    stroke: #FFA62B;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

:host ::ng-deep .p-inputnumber .p-inputtext {
  width: 40px;
}

:host ::ng-deep .p-toast-message-purple {
  background-color: #c79ee8;
  border: solid #8b00fa;
  border-width: 0 0 0 6px;
}

:host ::ng-deep .p-toast-message-grey {
  background-color: #a0a0a0;
  border: solid #191919;
  border-width: 0 0 0 6px;
}
