<p-card header="Weather">
  <p-scrollPanel [style]="{width: '100%', height: '30vh'}">
    <p-timeline [value]="this.weatherService.weatherForecast">
      <ng-template pTemplate="opposite" let-event>
        {{event.OffsetTime}} min {{event.WeatherCondition | weatherIcon}}
      </ng-template>
      <ng-template pTemplate="content" let-event>
        {{event.RainPercentage}}% 💧 {{event.SessionType | sessionType}}
      </ng-template>
    </p-timeline>
  </p-scrollPanel>
</p-card>

