<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>Session is finished</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Close" (click)="discard()" style="float:left"></button>
    <button type="button" pButton icon="pi pi-users" label="Only Players" (click)="saveWithoutBots()"></button>
    <button type="button" pButton icon="pi pi-android" label="Include Bots" (click)="saveIncludeBots()"></button>
  </ng-template>
</p-confirmDialog>
